{
  "openapi" : "3.1.0",
  "info" : {
    "description" : "The REST API provides programmatic access for automating functions or for integrating with other systems. The REST API allows you to perform any actions that you can perform through the web interface.",
    "license" : {
      "name" : "SSPLv1",
      "url" : "https://www.mongodb.com/licensing/server-side-public-license"
    },
    "title" : "REST API",
    "version" : "7.1.3+c34604d"
  },
  "servers" : [ {
    "url" : "https://lab.logging.komm-one.net:9000/api/"
  } ],
  "security" : [ {
    "tokenAuth" : [ ]
  }, {
    "basicAuth" : [ ]
  }, {
    "sessionAuth" : [ ]
  } ],
  "tags" : [ {
    "description" : "Manage AWS Config settings",
    "name" : "AWS/Config"
  }, {
    "description" : "AWS CloudTrail",
    "name" : "AWSCloudTrail"
  }, {
    "description" : "OpAMP agent enrollment management",
    "name" : "OpAMP Enrollment"
  }, {
    "description" : "Collector management",
    "name" : "Collectors"
  }, {
    "description" : "Managed collector configuration",
    "name" : "Collectors/Config"
  }, {
    "description" : "Render system notification messages",
    "name" : "System/Notification/Message"
  }, {
    "description" : "Event entity types",
    "name" : "Events/EntityTypes"
  }, {
    "description" : "Event definition management",
    "name" : "Events/Definitions"
  }, {
    "description" : "Manage event notifications",
    "name" : "Events/Notifications"
  }, {
    "description" : "Events overview and search",
    "name" : "Events"
  }, {
    "description" : "AWS integrations",
    "name" : "AWS"
  }, {
    "description" : "AWS Kinesis auto-setup",
    "name" : "AWSKinesisAuto"
  }, {
    "description" : "Endpoints allowing MCP clients to connect to",
    "name" : "MCP"
  }, {
    "description" : "Stream connections of processing pipelines",
    "name" : "Pipelines/Connections"
  }, {
    "description" : "Pipelines for the pipeline message processor",
    "name" : "Pipelines/Pipelines"
  }, {
    "description" : "Rules for the pipeline message processor",
    "name" : "Pipelines/Rules"
  }, {
    "description" : "Simulate pipeline message processor",
    "name" : "Pipelines/Simulator"
  }, {
    "description" : "Rules for the pipeline message processor generated using the rulebuilder",
    "name" : "Pipelines/Rulebuilder"
  }, {
    "description" : "Manage Collector actions",
    "name" : "Sidecar/Collector/Actions"
  }, {
    "description" : "Administrate sidecars",
    "name" : "Sidecar/Administration"
  }, {
    "description" : "Manage collectors",
    "name" : "Sidecar/Collectors"
  }, {
    "description" : "Manage/Render collector configurations",
    "name" : "Sidecar/Configurations"
  }, {
    "description" : "Manage collector configuration variables",
    "name" : "Sidecar/ConfigurationVariables"
  }, {
    "description" : "Manage Sidecar fleet",
    "name" : "Sidecar"
  }, {
    "description" : "Creating/Managing Export Jobs.",
    "name" : "Search/Export"
  }, {
    "description" : "Simple search returning (matching) messages only, as CSV.",
    "name" : "Search/Messages"
  }, {
    "description" : "Simple search API for aggregating and messages retrieval",
    "name" : "Search/Simple"
  }, {
    "description" : "Resource for managing migration to datanode from open/elasticsearch",
    "name" : "Migration"
  }, {
    "description" : "Manage authentication service backends",
    "name" : "System/Authentication/Services/Backends"
  }, {
    "description" : "Test authentication services",
    "name" : "System/Authentication/Services/Test"
  }, {
    "description" : "Manage authentication services",
    "name" : "System/Authentication/Services"
  }, {
    "description" : "Manage global authentication services configuration",
    "name" : "System/Authentication/Services/Configuration"
  }, {
    "description" : "Manage the HTTP header authentication configuration",
    "name" : "System/Authentication/HTTPHeaderAuthConfig"
  }, {
    "description" : "Manage roles",
    "name" : "Authorization/Roles"
  }, {
    "description" : "Certificate Authority",
    "name" : "CA"
  }, {
    "description" : "Capabilities overview",
    "name" : "Authorization/Capabilities"
  }, {
    "description" : "Information about certificates used",
    "name" : "Certificates"
  }, {
    "description" : "Certificate Authority Client Certificates",
    "name" : "Client Certificates"
  }, {
    "description" : "Manage share permissions on entities",
    "name" : "Authorization/Shares"
  }, {
    "description" : "Grants overview",
    "name" : "Authorization/GrantsOverview"
  }, {
    "description" : "Content Stream",
    "name" : "ContentStream"
  }, {
    "description" : "Provide a list of available Entity Scopes",
    "name" : "EntityScope"
  }, {
    "description" : "Quick Jump Functionality",
    "name" : "QuickJump"
  }, {
    "description" : "A friendly hello world message",
    "name" : "Hello World"
  }, {
    "description" : "Cluster-wide deflector handling",
    "name" : "Cluster/Deflector"
  }, {
    "description" : "Cluster-wide input states",
    "name" : "Cluster/InputState"
  }, {
    "description" : "Journal information of any nodes in the cluster",
    "name" : "Cluster/Journal"
  }, {
    "description" : "Cluster-wide status propagation for LB",
    "name" : "Cluster/LoadBalancers"
  }, {
    "description" : "Cluster-wide access to internal Graylog loggers",
    "name" : "Cluster/System/Loggers"
  }, {
    "description" : "Cluster-wide Internal Graylog metrics",
    "name" : "Cluster/Metrics"
  }, {
    "description" : "Cluster-wide Internal Graylog node metrics",
    "name" : "Cluster/Node/Metrics"
  }, {
    "description" : "Cluster-wide System Jobs",
    "name" : "Cluster/Jobs"
  }, {
    "description" : "Plugin information for any node in the cluster",
    "name" : "Cluster/Plugins"
  }, {
    "description" : "Cluster-wide processing status control.",
    "name" : "Cluster/Processing"
  }, {
    "description" : "System information of all nodes in the cluster",
    "name" : "Cluster"
  }, {
    "description" : "Proxy direct access to Data Node's API",
    "name" : "DataNodes/API"
  }, {
    "description" : "Data Node",
    "name" : "Datanode"
  }, {
    "description" : "Proxy direct access to Data Node's API",
    "name" : "DataNodes/REST/API"
  }, {
    "description" : "Data Node discovery",
    "name" : "System/Datanodes"
  }, {
    "description" : "Endpoint for support of rolling upgrade of data nodes",
    "name" : "DatanodeUpgrade"
  }, {
    "description" : "Entity Lists Preferences",
    "name" : "EntityLists"
  }, {
    "description" : "Single messages",
    "name" : "Messages"
  }, {
    "description" : "MongoDB Node discovery",
    "name" : "System/Mongodb"
  }, {
    "description" : "User roles",
    "name" : "Roles"
  }, {
    "description" : "Message search",
    "name" : "Legacy/Search/Absolute"
  }, {
    "description" : "Message search decorators",
    "name" : "Search/Decorators"
  }, {
    "description" : "Message search",
    "name" : "Legacy/Search/Keyword"
  }, {
    "description" : "Message search",
    "name" : "Legacy/Search/Relative"
  }, {
    "description" : "Stream routing with pipeline rules",
    "name" : "Stream/RoutingRules"
  }, {
    "description" : "Manage streams",
    "name" : "Streams"
  }, {
    "description" : "Stream destination filter builder",
    "name" : "Stream/Destinations/Filters/Builder"
  }, {
    "description" : "Manage stream destination filter rules",
    "name" : "Stream/Destinations/Filters"
  }, {
    "description" : "Retrieve/set favorite fields per stream",
    "name" : "FavoriteFields"
  }, {
    "description" : "Manage stream outputs for a given stream",
    "name" : "StreamOutputs"
  }, {
    "description" : "Provide stream rule inputs",
    "name" : "StreamRulesInputs"
  }, {
    "description" : "Manage stream rules",
    "name" : "StreamRules"
  }, {
    "description" : "Graylog Cluster Configuration",
    "name" : "System/ClusterConfig"
  }, {
    "description" : "Node discovery",
    "name" : "System/Cluster"
  }, {
    "description" : "[DEPRECATED] Cluster stats",
    "name" : "System/ClusterStats"
  }, {
    "description" : "Read-only access to configuration settings",
    "name" : "System/Configuration"
  }, {
    "description" : "Index deflector management",
    "name" : "System/Deflector"
  }, {
    "description" : "Getting Started guide",
    "name" : "System/GettingStartedGuides"
  }, {
    "description" : "Manage grok patterns",
    "name" : "System/Grok"
  }, {
    "description" : "Index timeranges",
    "name" : "System/IndexRanges"
  }, {
    "description" : "Message journal information of this node.",
    "name" : "System/Journal"
  }, {
    "description" : "Manage message processors",
    "name" : "System/MessageProcessors"
  }, {
    "description" : "Internal Graylog messages",
    "name" : "System/Messages"
  }, {
    "description" : "Notifications generated by the system",
    "name" : "System/Notifications"
  }, {
    "description" : "Retrieval of system permissions.",
    "name" : "System/Permissions"
  }, {
    "description" : "Checks system search version requirements",
    "name" : "System/SearchVersion"
  }, {
    "description" : "Node system stats",
    "name" : "System/Stats"
  }, {
    "description" : "Get list of message fields that exist.",
    "name" : "System/Fields"
  }, {
    "description" : "System processing status control.",
    "name" : "System/Processing"
  }, {
    "description" : "Cluster traffic stats",
    "name" : "System/ClusterTraffic"
  }, {
    "description" : "Entity Catalog",
    "name" : "System/Catalog"
  }, {
    "description" : "Content Packs",
    "name" : "System/ContentPacks"
  }, {
    "description" : "For debugging local and cluster events.",
    "name" : "System/Debug/Events"
  }, {
    "description" : "For collecting cluster wide debugging information, e.g. server logs",
    "name" : "Cluster/Debug/SupportBundle"
  }, {
    "description" : "For collecting debugging information, e.g. server logs",
    "name" : "System/Debug/SupportBundle"
  }, {
    "description" : "Indexer failures",
    "name" : "Indexer/Failures"
  }, {
    "description" : "Index set defaults",
    "name" : "System/IndexSetDefaults"
  }, {
    "description" : "Index-set Configuration Template Management",
    "name" : "System/IndexSets/Templates"
  }, {
    "description" : "Index set field types",
    "name" : "System/IndexSets/Types"
  }, {
    "description" : "Index sets",
    "name" : "System/IndexSets"
  }, {
    "description" : "Index Template Management",
    "name" : "Indexer/Indices/Templates"
  }, {
    "description" : "Indexer cluster information",
    "name" : "Indexer/Cluster"
  }, {
    "description" : "Indexing overview",
    "name" : "Indexer/Overview"
  }, {
    "description" : "Index information",
    "name" : "Indexer/Indices"
  }, {
    "description" : "Index retention strategy settings",
    "name" : "System/Indices/Retention"
  }, {
    "description" : "Index rotation strategy settings",
    "name" : "System/Indices/Rotation"
  }, {
    "description" : "Extractors of an input",
    "name" : "Extractors"
  }, {
    "description" : "Message input states of this node",
    "name" : "System/InputStates"
  }, {
    "description" : "Message inputs",
    "name" : "System/Inputs"
  }, {
    "description" : "Static fields of an input",
    "name" : "StaticFields"
  }, {
    "description" : "ServiceManager Status",
    "name" : "System/ServiceManager"
  }, {
    "description" : "System Jobs",
    "name" : "System/Jobs"
  }, {
    "description" : "Internal Graylog loggers",
    "name" : "System/Loggers"
  }, {
    "description" : "Lookup tables",
    "name" : "System/Lookup"
  }, {
    "description" : "Manage outputs",
    "name" : "System/Outputs"
  }, {
    "description" : "Listing usage of Tokens",
    "name" : "Token-Usage"
  }, {
    "description" : "User accounts",
    "name" : "Users"
  }, {
    "description" : "Documentation of this API in JSON format.",
    "name" : "Documentation"
  }, {
    "description" : "Status propagation for load balancers",
    "name" : "System/LoadBalancers"
  }, {
    "description" : "Internal Graylog metrics",
    "name" : "System/Metrics"
  }, {
    "description" : "Plugin information",
    "name" : "System/Plugins"
  }, {
    "description" : "System information of this node.",
    "name" : "System"
  }, {
    "description" : "Message throughput of this node",
    "name" : "System/Throughput"
  }, {
    "description" : "Message codec types of this node",
    "name" : "System/Codecs/Types"
  }, {
    "description" : "Message input types of this node",
    "name" : "System/Inputs/Types"
  }, {
    "description" : "Message inputs",
    "name" : "Telemetry"
  } ],
  "paths" : {
    "/" : {
      "get" : {
        "operationId" : "helloWorld",
        "responses" : {
          "default" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/org.graylog2.rest.models.HelloWorldResponse"
                }
              }
            },
            "description" : "default response"
          }
        },
        "summary" : "A few details about the Graylog node.",
        "tags" : [ "Hello World" ]
      }
    },
    "/api-docs" : {
      "get" : {
        "deprecated" : true,
        "operationId" : "overview",
        "responses" : {
          "default" : {
            "content" : {
              "application/json" : { }
            },
            "description" : "default response"
          }
        },
        "summary" : "Get API documentation - Deprecated: Consider the OpenAPI description at '/api/openapi.yaml' instead.",
        "tags" : [ "Documentation" ]
      }
    },
    "/api-docs/global" : {
      "get" : {
        "deprecated" : true,
        "operationId" : "globalOverview",
        "responses" : {
          "default" : {
            "content" : {
              "application/json" : { }
            },
            "description" : "default response"
          }
        },
        "summary" : "Get API documentation with cluster global URI path - Deprecated: Consider the OpenAPI description at '/api/openapi.yaml' instead.",
        "tags" : [ "Documentation" ]
      }
    },
    "/api-docs/{route}" : {
      "get" : {
        "deprecated" : true,
        "operationId" : "route",
        "parameters" : [ {
          "description" : "Route to fetch. For example /system",
          "in" : "path",
          "name" : "route",
          "required" : true,
          "schema" : {
            "type" : "string",
            "pattern" : ".+"
          }
        } ],
        "responses" : {
          "default" : {
            "content" : {
              "application/json" : { }
            },
            "description" : "default response"
          }
        },
        "summary" : "Get detailed API documentation of a single resource - Deprecated: Consider the OpenAPI description at '/api/openapi.yaml' instead.",
        "tags" : [ "Documentation" ]
      }
    },
    "/authz/capabilities" : {
      "get" : {
        "operationId" : "list_5",
        "responses" : {
          "default" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/org.graylog.security.rest.CapabilitiesResource.CapabilitiesResponse"
                }
              }
            },
            "description" : "default response"
          }
        },
        "summary" : "Return a list of all capabilities in the system",
        "tags" : [ "Authorization/Capabilities" ]
      }
    },
    "/authz/capabilities/{capability}" : {
      "get" : {
        "operationId" : "get_15",
        "parameters" : [ {
          "in" : "path",
          "name" : "capability",
          "required" : true,
          "schema" : {
            "type" : "string",
            "minLength" : 1
          }
        } ],
        "responses" : {
          "default" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/org.graylog.security.rest.CapabilitiesResource.CapabilityDescriptorResponse"
                }
              }
            },
            "description" : "default response"
          }
        },
        "summary" : "Return the requested capability",
        "tags" : [ "Authorization/Capabilities" ]
      }
    },
    "/authz/capabilities/{capability}/{entity}" : {
      "get" : {
        "operationId" : "entityCapabilityPermissions",
        "parameters" : [ {
          "in" : "path",
          "name" : "capability",
          "required" : true,
          "schema" : {
            "type" : "string",
            "minLength" : 1
          }
        }, {
          "in" : "path",
          "name" : "entity",
          "required" : true,
          "schema" : {
            "type" : "string",
            "minLength" : 1
          }
        } ],
        "responses" : {
          "default" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/org.graylog.security.rest.CapabilitiesResource.CapabilityPermissionsResponse"
                }
              }
            },
            "description" : "default response"
          }
        },
        "summary" : "Get permissions for a specific capability and entity",
        "tags" : [ "Authorization/Capabilities" ]
      }
    },
    "/authz/grants-overview" : {
      "get" : {
        "operationId" : "getOverview",
        "responses" : {
          "default" : {
            "content" : {
              "application/json" : { }
            },
            "description" : "default response"
          }
        },
        "summary" : "Return an overview of all grants in the system",
        "tags" : [ "Authorization/GrantsOverview" ]
      }
    },
    "/authz/roles" : {
      "get" : {
        "operationId" : "getList",
        "parameters" : [ {
          "in" : "query",
          "name" : "page",
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "default" : 1
          }
        }, {
          "in" : "query",
          "name" : "per_page",
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "default" : 50
          }
        }, {
          "in" : "query",
          "name" : "query",
          "schema" : {
            "type" : "string",
            "default" : ""
          }
        }, {
          "description" : "The field to sort the result on",
          "in" : "query",
          "name" : "sort",
          "required" : true,
          "schema" : {
            "type" : "string",
            "default" : "name",
            "enum" : [ "id", "name", "description" ]
          }
        }, {
          "description" : "The sort direction",
          "in" : "query",
          "name" : "order",
          "schema" : {
            "type" : "string",
            "default" : "asc",
            "enum" : [ "asc", "desc", "asc", "desc" ]
          }
        } ],
        "responses" : {
          "default" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "additionalProperties" : {
                    "type" : "object"
                  }
                }
              }
            },
            "description" : "default response"
          }
        },
        "summary" : "Get a paginated list of all roles",
        "tags" : [ "Authorization/Roles" ]
      }
    },
    "/authz/roles/user/{username}" : {
      "get" : {
        "operationId" : "getListForUser",
        "parameters" : [ {
          "in" : "path",
          "name" : "username",
          "required" : true,
          "schema" : {
            "type" : "string",
            "minLength" : 1
          }
        }, {
          "in" : "query",
          "name" : "page",
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "default" : 1
          }
        }, {
          "in" : "query",
          "name" : "per_page",
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "default" : 50
          }
        }, {
          "in" : "query",
          "name" : "query",
          "schema" : {
            "type" : "string",
            "default" : ""
          }
        }, {
          "description" : "The field to sort the result on",
          "in" : "query",
          "name" : "sort",
          "required" : true,
          "schema" : {
            "type" : "string",
            "default" : "name",
            "enum" : [ "id", "name", "description" ]
          }
        }, {
          "description" : "The sort direction",
          "in" : "query",
          "name" : "order",
          "schema" : {
            "type" : "string",
            "default" : "asc",
            "enum" : [ "asc", "desc", "asc", "desc" ]
          }
        } ],
        "responses" : {
          "default" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "additionalProperties" : {
                    "type" : "object"
                  }
                }
              }
            },
            "description" : "default response"
          }
        },
        "summary" : "Get a paginated list roles for a user",
        "tags" : [ "Authorization/Roles" ]
      }
    },
    "/authz/roles/{roleId}" : {
      "delete" : {
        "operationId" : "delete_9",
        "parameters" : [ {
          "in" : "path",
          "name" : "roleId",
          "required" : true,
          "schema" : {
            "type" : "string",
            "minLength" : 1
          }
        } ],
        "responses" : {
          "default" : {
            "content" : {
              "application/json" : { }
            },
            "description" : "default response"
          }
        },
        "summary" : "Delete a role",
        "tags" : [ "Authorization/Roles" ]
      },
      "get" : {
        "operationId" : "get_13",
        "parameters" : [ {
          "in" : "path",
          "name" : "roleId",
          "required" : true,
          "schema" : {
            "type" : "string",
            "minLength" : 1
          }
        } ],
        "responses" : {
          "default" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/org.graylog.security.authzroles.AuthzRoleDTO"
                }
              }
            },
            "description" : "default response"
          }
        },
        "summary" : "Get a single role",
        "tags" : [ "Authorization/Roles" ]
      }
    },
    "/authz/roles/{roleId}/assignee/{username}" : {
      "delete" : {
        "operationId" : "removeUser",
        "parameters" : [ {
          "in" : "path",
          "name" : "roleId",
          "required" : true,
          "schema" : {
            "type" : "string",
            "minLength" : 1
          }
        }, {
          "in" : "path",
          "name" : "username",
          "required" : true,
          "schema" : {
            "type" : "string",
            "minLength" : 1
          }
        } ],
        "responses" : {
          "default" : {
            "content" : {
              "application/json" : { }
            },
            "description" : "default response"
          }
        },
        "summary" : "Remove user from role",
        "tags" : [ "Authorization/Roles" ]
      }
    },
    "/authz/roles/{roleId}/assignees" : {
      "get" : {
        "operationId" : "getUsersForRole",
        "parameters" : [ {
          "in" : "path",
          "name" : "roleId",
          "required" : true,
          "schema" : {
            "type" : "string",
            "minLength" : 1
          }
        }, {
          "in" : "query",
          "name" : "page",
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "default" : 1
          }
        }, {
          "in" : "query",
          "name" : "per_page",
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "default" : 50
          }
        }, {
          "in" : "query",
          "name" : "query",
          "schema" : {
            "type" : "string",
            "default" : ""
          }
        }, {
          "description" : "The field to sort the result on",
          "in" : "query",
          "name" : "sort",
          "required" : true,
          "schema" : {
            "type" : "string",
            "default" : "name",
            "enum" : [ "id", "name", "description" ]
          }
        }, {
          "description" : "The sort direction",
          "in" : "query",
          "name" : "order",
          "schema" : {
            "type" : "string",
            "default" : "asc",
            "enum" : [ "asc", "desc", "asc", "desc" ]
          }
        } ],
        "responses" : {
          "default" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "additionalProperties" : {
                    "type" : "object"
                  }
                }
              }
            },
            "description" : "default response"
          }
        },
        "summary" : "Get a paginated list of users for a role",
        "tags" : [ "Authorization/Roles" ]
      },
      "put" : {
        "operationId" : "addUser",
        "parameters" : [ {
          "in" : "path",
          "name" : "roleId",
          "required" : true,
          "schema" : {
            "type" : "string",
            "minLength" : 1
          }
        } ],
        "requestBody" : {
          "content" : {
            "*/*" : {
              "schema" : {
                "type" : "array",
                "items" : {
                  "type" : "string"
                },
                "uniqueItems" : true
              }
            }
          }
        },
        "responses" : {
          "default" : {
            "content" : {
              "application/json" : { }
            },
            "description" : "default response"
          }
        },
        "summary" : "Add user to role",
        "tags" : [ "Authorization/Roles" ]
      }
    },
    "/authz/shares/entities/prepare" : {
      "post" : {
        "operationId" : "prepareGenericShare",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/org.graylog.security.rest.EntitySharesResource.PrepareShareRequest"
              }
            }
          }
        },
        "responses" : {
          "default" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/org.graylog.security.shares.EntityShareResponse"
                }
              }
            },
            "description" : "default response"
          }
        },
        "summary" : "Prepare shares with optional dependency checks",
        "tags" : [ "Authorization/Shares" ]
      }
    },
    "/authz/shares/entities/{entityGRN}" : {
      "post" : {
        "operationId" : "updateEntityShares",
        "parameters" : [ {
          "in" : "path",
          "name" : "entityGRN",
          "required" : true,
          "schema" : {
            "type" : "string",
            "minLength" : 1
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/org.graylog.security.shares.EntityShareRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "default" : {
            "content" : {
              "application/json" : { }
            },
            "description" : "default response"
          }
        },
        "summary" : "Create / update shares for an entity or collection",
        "tags" : [ "Authorization/Shares" ]
      }
    },
    "/authz/shares/entities/{entityGRN}/prepare" : {
      "post" : {
        "operationId" : "prepareShare",
        "parameters" : [ {
          "in" : "path",
          "name" : "entityGRN",
          "required" : true,
          "schema" : {
            "type" : "string",
            "minLength" : 1
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/org.graylog.security.shares.EntityShareRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "default" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/org.graylog.security.shares.EntityShareResponse"
                }
              }
            },
            "description" : "default response"
          }
        },
        "summary" : "Prepare shares for an entity or collection",
        "tags" : [ "Authorization/Shares" ]
      }
    },
    "/authz/shares/user/{userId}" : {
      "get" : {
        "operationId" : "get_16",
        "parameters" : [ {
          "in" : "query",
          "name" : "query",
          "schema" : {
            "type" : "string",
            "default" : ""
          }
        }, {
          "in" : "query",
          "name" : "page",
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "default" : 1
          }
        }, {
          "in" : "query",
          "name" : "per_page",
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "default" : 50
          }
        }, {
          "in" : "query",
          "name" : "sort",
          "schema" : {
            "type" : "string",
            "default" : ""
          }
        }, {
          "in" : "query",
          "name" : "order",
          "schema" : {
            "type" : "string",
            "default" : "asc"
          }
        }, {
          "in" : "path",
          "name" : "userId",
          "required" : true,
          "schema" : {
            "type" : "string",
            "minLength" : 1
          }
        }, {
          "in" : "query",
          "name" : "capability",
          "schema" : {
            "type" : "string",
            "default" : ""
          }
        }, {
          "in" : "query",
          "name" : "entity_type",
          "schema" : {
            "type" : "string",
            "default" : ""
          }
        } ],
        "responses" : {
          "default" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "additionalProperties" : {
                    "type" : "object"
                  }
                }
              }
            },
            "description" : "default response"
          }
        },
        "summary" : "Return shares for a user",
        "tags" : [ "Authorization/Shares" ]
      }
    },
    "/ca" : {
      "get" : {
        "operationId" : "get_14",
        "responses" : {
          "default" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/org.graylog2.bootstrap.preflight.web.resources.model.CertificateAuthorityInformation"
                }
              }
            },
            "description" : "default response"
          }
        },
        "summary" : "Returns the CA",
        "tags" : [ "CA" ]
      }
    },
    "/ca/clientcert" : {
      "post" : {
        "operationId" : "createClientCert",
        "requestBody" : {
          "content" : {
            "*/*" : {
              "schema" : {
                "$ref" : "#/components/schemas/org.graylog2.bootstrap.preflight.web.resources.model.CreateClientCertRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "default" : {
            "content" : {
              "application/json" : { }
            },
            "description" : "default response"
          }
        },
        "summary" : "Creates a client certificate",
        "tags" : [ "Client Certificates" ]
      }
    },
    "/ca/clientcert/{role}/{principal}" : {
      "delete" : {
        "operationId" : "deleteClientCert",
        "parameters" : [ {
          "in" : "path",
          "name" : "role",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "in" : "path",
          "name" : "principal",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "default" : {
            "content" : {
              "application/json" : { }
            },
            "description" : "default response"
          }
        },
        "summary" : "removes the cert and the user from the role",
        "tags" : [ "Client Certificates" ]
      }
    },
    "/ca/create" : {
      "post" : {
        "operationId" : "createCA",
        "requestBody" : {
          "content" : {
            "*/*" : {
              "schema" : {
                "$ref" : "#/components/schemas/org.graylog2.bootstrap.preflight.web.resources.model.CreateCARequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "default" : {
            "content" : {
              "application/json" : { }
            },
            "description" : "default response"
          }
        },
        "summary" : "Creates a CA",
        "tags" : [ "CA" ]
      }
    },
    "/ca/upload" : {
      "post" : {
        "operationId" : "uploadCA",
        "requestBody" : {
          "content" : {
            "multipart/form-data" : {
              "schema" : {
                "type" : "object",
                "properties" : {
                  "files" : {
                    "type" : "array",
                    "items" : {
                      "type" : "string",
                      "format" : "binary"
                    }
                  },
                  "password" : {
                    "type" : "string"
                  }
                }
              }
            }
          }
        },
        "responses" : {
          "default" : {
            "content" : {
              "application/json" : { }
            },
            "description" : "default response"
          }
        },
        "summary" : "Upload a CA",
        "tags" : [ "CA" ]
      }
    },
    "/certificates" : {
      "get" : {
        "operationId" : "getCertificates",
        "responses" : {
          "default" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "additionalProperties" : {
                    "$ref" : "#/components/schemas/org.graylog.security.certutil.KeyStoreDto"
                  }
                }
              }
            },
            "description" : "default response"
          }
        },
        "summary" : "Returns the certificates used by this node",
        "tags" : [ "Certificates" ]
      }
    },
    "/cluster" : {
      "get" : {
        "operationId" : "get_19",
        "responses" : {
          "default" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "additionalProperties" : {
                    "$ref" : "#/components/schemas/org.graylog2.rest.models.system.responses.SystemOverviewResponse"
                  }
                }
              }
            },
            "description" : "default response"
          }
        },
        "summary" : "Get system overview of all Graylog nodes",
        "tags" : [ "Cluster" ]
      }
    },
    "/cluster/debug/support/bundle/build" : {
      "post" : {
        "operationId" : "buildBundle",
        "responses" : {
          "default" : {
            "content" : {
              "application/json" : { }
            },
            "description" : "default response"
          }
        },
        "summary" : "Build a new Support Bundle",
        "tags" : [ "Cluster/Debug/SupportBundle" ]
      }
    },
    "/cluster/debug/support/bundle/download/{filename}" : {
      "get" : {
        "operationId" : "download",
        "parameters" : [ {
          "in" : "path",
          "name" : "filename",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "default" : {
            "content" : {
              "application/octet-stream" : { }
            },
            "description" : "default response"
          }
        },
        "summary" : "Downloads the requested bundle",
        "tags" : [ "Cluster/Debug/SupportBundle" ]
      }
    },
    "/cluster/debug/support/bundle/list" : {
      "get" : {
        "operationId" : "listBundles",
        "responses" : {
          "default" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/org.graylog2.rest.resources.system.debug.bundle.BundleFile"
                  }
                }
              }
            },
            "description" : "default response"
          }
        },
        "summary" : "Returns the list of downloadable support bundles",
        "tags" : [ "Cluster/Debug/SupportBundle" ]
      }
    },
    "/cluster/debug/support/bundle/{filename}" : {
      "delete" : {
        "operationId" : "delete_15",
        "parameters" : [ {
          "in" : "path",
          "name" : "filename",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "default" : {
            "content" : {
              "application/json" : { }
            },
            "description" : "default response"
          }
        },
        "summary" : "Delete a certain support bundle",
        "tags" : [ "Cluster/Debug/SupportBundle" ]
      }
    },
    "/cluster/debug/support/manifest" : {
      "get" : {
        "operationId" : "getClusterManifest",
        "responses" : {
          "default" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "additionalProperties" : {
                    "$ref" : "#/components/schemas/org.graylog2.shared.rest.resources.ProxiedResource.CallResultOrg.graylog2.rest.resources.system.debug.bundle.SupportBundleNodeManifest"
                  }
                }
              }
            },
            "description" : "default response"
          }
        },
        "summary" : "Get the Support Bundle Manifest from all nodes in the cluster",
        "tags" : [ "Cluster/Debug/SupportBundle" ]
      }
    },
    "/cluster/deflector/cycle" : {
      "post" : {
        "operationId" : "cycle",
        "responses" : {
          "default" : {
            "content" : {
              "application/json" : { }
            },
            "description" : "default response"
          }
        },
        "summary" : "Finds leader node and triggers deflector cycle",
        "tags" : [ "Cluster/Deflector" ]
      }
    },
    "/cluster/deflector/{indexSetId}/cycle" : {
      "post" : {
        "operationId" : "cycle_1",
        "parameters" : [ {
          "in" : "path",
          "name" : "indexSetId",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "default" : {
            "content" : {
              "application/json" : { }
            },
            "description" : "default response"
          }
        },
        "summary" : "Finds leader node and triggers deflector cycle",
        "tags" : [ "Cluster/Deflector" ]
      }
    },
    "/cluster/inputstates" : {
      "get" : {
        "operationId" : "get_17",
        "responses" : {
          "default" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "additionalProperties" : {
                    "type" : "array",
                    "items" : {
                      "$ref" : "#/components/schemas/org.graylog2.rest.models.system.inputs.responses.InputStateSummary"
                    },
                    "uniqueItems" : true
                  }
                }
              }
            },
            "description" : "default response"
          }
        },
        "summary" : "Get all input states",
        "tags" : [ "Cluster/InputState" ]
      }
    },
    "/cluster/inputstates/setup/{inputId}" : {
      "put" : {
        "operationId" : "setup",
        "parameters" : [ {
          "in" : "path",
          "name" : "inputId",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "additionalProperties" : {
                    "$ref" : "#/components/schemas/org.graylog2.rest.models.system.inputs.responses.InputSetup"
                  }
                }
              }
            },
            "description" : "Success"
          },
          "404" : {
            "description" : "No such input."
          }
        },
        "summary" : "Switch specified input to setup mode in all nodes",
        "tags" : [ "Cluster/InputState" ]
      }
    },
    "/cluster/inputstates/{inputId}" : {
      "delete" : {
        "operationId" : "stop",
        "parameters" : [ {
          "in" : "path",
          "name" : "inputId",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "additionalProperties" : {
                    "$ref" : "#/components/schemas/org.graylog2.rest.models.system.inputs.responses.InputStopped"
                  }
                }
              }
            },
            "description" : "Success"
          },
          "404" : {
            "description" : "No such input."
          }
        },
        "summary" : "Stop specified input in all nodes",
        "tags" : [ "Cluster/InputState" ]
      },
      "put" : {
        "operationId" : "start",
        "parameters" : [ {
          "in" : "path",
          "name" : "inputId",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "additionalProperties" : {
                    "$ref" : "#/components/schemas/org.graylog2.rest.models.system.inputs.responses.InputCreated"
                  }
                }
              }
            },
            "description" : "Success"
          },
          "404" : {
            "description" : "No such input."
          }
        },
        "summary" : "Start or restart specified input in all nodes",
        "tags" : [ "Cluster/InputState" ]
      }
    },
    "/cluster/jobs" : {
      "get" : {
        "operationId" : "list_6",
        "responses" : {
          "default" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "additionalProperties" : {
                    "type" : "object",
                    "additionalProperties" : {
                      "type" : "array",
                      "items" : {
                        "$ref" : "#/components/schemas/org.graylog2.rest.models.system.SystemJobSummary"
                      }
                    }
                  }
                }
              }
            },
            "description" : "default response"
          }
        },
        "summary" : "List currently running jobs",
        "tags" : [ "Cluster/Jobs" ]
      }
    },
    "/cluster/jobs/{jobId}" : {
      "delete" : {
        "operationId" : "cancelJob_1",
        "parameters" : [ {
          "in" : "path",
          "name" : "jobId",
          "required" : true,
          "schema" : {
            "type" : "string",
            "minLength" : 1
          }
        } ],
        "responses" : {
          "default" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/org.graylog2.rest.models.system.SystemJobSummary"
                }
              }
            },
            "description" : "default response"
          }
        },
        "summary" : "Cancel job with the given ID",
        "tags" : [ "Cluster/Jobs" ]
      },
      "get" : {
        "operationId" : "getJob",
        "parameters" : [ {
          "in" : "path",
          "name" : "jobId",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "default" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/org.graylog2.rest.models.system.SystemJobSummary"
                }
              }
            },
            "description" : "default response"
          }
        },
        "summary" : "Get job with the given ID",
        "tags" : [ "Cluster/Jobs" ]
      }
    },
    "/cluster/metrics/multiple" : {
      "post" : {
        "operationId" : "multipleMetricsAllNodes",
        "requestBody" : {
          "content" : {
            "*/*" : {
              "schema" : {
                "$ref" : "#/components/schemas/org.graylog2.rest.models.system.metrics.requests.MetricsReadRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Success"
          },
          "400" : {
            "description" : "Malformed body"
          }
        },
        "summary" : "Get all metrics of all nodes in the cluster",
        "tags" : [ "Cluster/Metrics" ]
      }
    },
    "/cluster/processbufferdump" : {
      "get" : {
        "operationId" : "clusterProcessBufferDump",
        "responses" : {
          "default" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "additionalProperties" : {
                    "$ref" : "#/components/schemas/org.graylog2.rest.models.system.responses.SystemProcessBufferDumpResponse"
                  }
                }
              }
            },
            "description" : "default response"
          }
        },
        "summary" : "Get a process buffer dump of all cluster nodes",
        "tags" : [ "Cluster" ]
      }
    },
    "/cluster/processing/status" : {
      "get" : {
        "operationId" : "getStatus",
        "responses" : {
          "default" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "additionalProperties" : {
                    "$ref" : "#/components/schemas/org.graylog2.rest.models.system.processing.ProcessingStatusSummary"
                  }
                }
              }
            },
            "description" : "default response"
          }
        },
        "summary" : "Get processing status from all nodes in the cluster",
        "tags" : [ "Cluster/Processing/Status" ]
      }
    },
    "/cluster/processing/status/persisted" : {
      "get" : {
        "operationId" : "getPersistedStatus",
        "responses" : {
          "default" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "additionalProperties" : {
                    "$ref" : "#/components/schemas/org.graylog2.rest.models.system.processing.ProcessingStatusSummary"
                  }
                }
              }
            },
            "description" : "default response"
          }
        },
        "summary" : "Get persisted processing status from all nodes in the cluster",
        "tags" : [ "Cluster/Processing/Status" ]
      }
    },
    "/cluster/system/loggers" : {
      "get" : {
        "operationId" : "loggers",
        "responses" : {
          "default" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "additionalProperties" : {
                    "$ref" : "#/components/schemas/org.graylog2.rest.models.system.loggers.responses.LoggersSummary"
                  }
                }
              }
            },
            "description" : "default response"
          }
        },
        "summary" : "List all loggers of all nodes and their current levels",
        "tags" : [ "Cluster/System/Loggers" ]
      }
    },
    "/cluster/system/loggers/messages/recent/{nodeId}" : {
      "get" : {
        "operationId" : "messages",
        "parameters" : [ {
          "description" : "The nodeId to get logs from",
          "in" : "path",
          "name" : "nodeId",
          "required" : true,
          "schema" : {
            "type" : "string",
            "minLength" : 1
          }
        }, {
          "description" : "How many log messages should be returned. 0 returns all existing messages.The limit can be rounded up to the next batch size and thus return slightly more logs than requested.",
          "in" : "query",
          "name" : "limit",
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "default" : 1000,
            "minimum" : 0
          }
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "text/plain" : {
                "schema" : { }
              }
            },
            "description" : "Success"
          },
          "404" : {
            "description" : "Memory appender is disabled."
          },
          "500" : {
            "description" : "Memory appender is broken."
          }
        },
        "summary" : "Get recent internal log messages from a specific node",
        "tags" : [ "Cluster/System/Loggers" ]
      }
    },
    "/cluster/system/loggers/subsystems" : {
      "get" : {
        "operationId" : "subsystems",
        "responses" : {
          "default" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "additionalProperties" : {
                    "$ref" : "#/components/schemas/org.graylog2.rest.models.system.loggers.responses.SubsystemSummary"
                  }
                }
              }
            },
            "description" : "default response"
          }
        },
        "summary" : "List all logger subsystems and their current levels",
        "tags" : [ "Cluster/System/Loggers" ]
      }
    },
    "/cluster/system/loggers/{loggerName}/level/{level}" : {
      "put" : {
        "description" : "Provided level is falling back to DEBUG if it does not exist",
        "operationId" : "setClusterSingleLoggerLevel",
        "parameters" : [ {
          "in" : "path",
          "name" : "loggerName",
          "required" : true,
          "schema" : {
            "type" : "string",
            "minLength" : 1
          }
        }, {
          "in" : "path",
          "name" : "level",
          "required" : true,
          "schema" : {
            "type" : "string",
            "minLength" : 1
          }
        } ],
        "responses" : {
          "default" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "additionalProperties" : {
                    "$ref" : "#/components/schemas/org.graylog2.shared.rest.resources.ProxiedResource.CallResultJava.lang.Void"
                  }
                }
              }
            },
            "description" : "default response"
          }
        },
        "summary" : "Set the loglevel of a single logger",
        "tags" : [ "Cluster/System/Loggers" ]
      }
    },
    "/cluster/system/loggers/{nodeId}/subsystems/{subsystem}/level/{level}" : {
      "put" : {
        "description" : "Provided level is falling back to DEBUG if it does not exist",
        "operationId" : "setSubsystemLoggerLevel",
        "parameters" : [ {
          "in" : "path",
          "name" : "nodeId",
          "required" : true,
          "schema" : {
            "type" : "string",
            "minLength" : 1
          }
        }, {
          "in" : "path",
          "name" : "subsystem",
          "required" : true,
          "schema" : {
            "type" : "string",
            "minLength" : 1
          }
        }, {
          "in" : "path",
          "name" : "level",
          "required" : true,
          "schema" : {
            "type" : "string",
            "minLength" : 1
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "Success"
          },
          "404" : {
            "description" : "No such subsystem."
          }
        },
        "summary" : "Set the loglevel of a whole subsystem",
        "tags" : [ "Cluster/System/Loggers" ]
      }
    },
    "/cluster/system/lookup/tables/{idOrName}/purge" : {
      "post" : {
        "operationId" : "performPurge",
        "parameters" : [ {
          "in" : "path",
          "name" : "idOrName",
          "required" : true,
          "schema" : {
            "type" : "string",
            "minLength" : 1
          }
        }, {
          "in" : "query",
          "name" : "key",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "default" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "additionalProperties" : {
                    "$ref" : "#/components/schemas/org.graylog2.shared.rest.resources.ProxiedResource.CallResultJava.lang.Void"
                  }
                }
              }
            },
            "description" : "default response"
          }
        },
        "summary" : "Purge Lookup Table Cache on the cluster-wide level",
        "tags" : [ "Cluster/LookupTable" ]
      }
    },
    "/cluster/{nodeId}/journal" : {
      "get" : {
        "operationId" : "get_18",
        "parameters" : [ {
          "description" : "The id of the node to get message journal information.",
          "in" : "path",
          "name" : "nodeId",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "default" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/org.graylog2.rest.resources.system.responses.JournalSummaryResponse"
                }
              }
            },
            "description" : "default response"
          }
        },
        "summary" : "Get message journal information of a given node",
        "tags" : [ "Cluster/Journal" ]
      }
    },
    "/cluster/{nodeId}/jvm" : {
      "get" : {
        "operationId" : "jvm",
        "parameters" : [ {
          "description" : "The id of the node to retrieve JVM information.",
          "in" : "path",
          "name" : "nodeId",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "default" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/org.graylog2.rest.models.system.responses.SystemJVMResponse"
                }
              }
            },
            "description" : "default response"
          }
        },
        "summary" : "Get JVM information of the given node",
        "tags" : [ "Cluster" ]
      }
    },
    "/cluster/{nodeId}/lbstatus/override/{status}" : {
      "put" : {
        "operationId" : "override",
        "parameters" : [ {
          "description" : "The id of the node whose LB status will be changed",
          "in" : "path",
          "name" : "nodeId",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "in" : "path",
          "name" : "status",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "default" : {
            "content" : {
              "application/json" : { }
            },
            "description" : "default response"
          }
        },
        "summary" : "Override load balancer status of this graylog-server node. Next lifecycle change will override it again to its default. Set to ALIVE, DEAD, or THROTTLED.",
        "tags" : [ "Cluster/LoadBalancers" ]
      }
    },
    "/cluster/{nodeId}/metrics/multiple" : {
      "post" : {
        "operationId" : "multipleMetrics",
        "parameters" : [ {
          "description" : "The id of the node whose metrics we want.",
          "in" : "path",
          "name" : "nodeId",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "*/*" : {
              "schema" : {
                "$ref" : "#/components/schemas/org.graylog2.rest.models.system.metrics.requests.MetricsReadRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/org.graylog2.rest.models.system.metrics.responses.MetricsSummaryResponse"
                }
              }
            },
            "description" : "Success"
          },
          "400" : {
            "description" : "Malformed body"
          }
        },
        "summary" : "Get the values of multiple metrics at once from node",
        "tags" : [ "Cluster/Node/Metrics" ]
      }
    },
    "/cluster/{nodeId}/metrics/names" : {
      "get" : {
        "operationId" : "metricNames",
        "parameters" : [ {
          "description" : "The id of the node whose metrics we want.",
          "in" : "path",
          "name" : "nodeId",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "default" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/org.graylog2.rest.models.system.metrics.responses.MetricNamesResponse"
                }
              }
            },
            "description" : "default response"
          }
        },
        "summary" : "Get all metrics keys/names from node",
        "tags" : [ "Cluster/Node/Metrics" ]
      }
    },
    "/cluster/{nodeId}/metrics/namespace/{namespace}" : {
      "get" : {
        "operationId" : "byNamespace",
        "parameters" : [ {
          "description" : "The id of the node whose metrics we want.",
          "in" : "path",
          "name" : "nodeId",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "in" : "path",
          "name" : "namespace",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/org.graylog2.rest.models.system.metrics.responses.MetricsSummaryResponse"
                }
              }
            },
            "description" : "Success"
          },
          "404" : {
            "description" : "No such metric namespace"
          }
        },
        "summary" : "Get all metrics of a namespace from node",
        "tags" : [ "Cluster/Node/Metrics" ]
      }
    },
    "/cluster/{nodeId}/plugins" : {
      "get" : {
        "operationId" : "list_7",
        "parameters" : [ {
          "description" : "The id of the node where processing will be paused.",
          "in" : "path",
          "name" : "nodeId",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "default" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/org.graylog2.rest.models.system.plugins.responses.PluginList"
                }
              }
            },
            "description" : "default response"
          }
        },
        "summary" : "List all installed plugins on the given node",
        "tags" : [ "Cluster/Plugins" ]
      }
    },
    "/cluster/{nodeId}/processbufferdump" : {
      "get" : {
        "operationId" : "processBufferDump",
        "parameters" : [ {
          "description" : "The id of the node to get a process buffer dump.",
          "in" : "path",
          "name" : "nodeId",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "default" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/org.graylog2.rest.models.system.responses.SystemProcessBufferDumpResponse"
                }
              }
            },
            "description" : "default response"
          }
        },
        "summary" : "Get a process buffer dump of the given node",
        "tags" : [ "Cluster" ]
      }
    },
    "/cluster/{nodeId}/processing/pause" : {
      "post" : {
        "description" : "If the message journal is enabled, incoming messages will be spooled on disk, if it is disabled, you might lose messages from inputs which cannot buffer themselves, like AMQP or Kafka-based inputs.",
        "operationId" : "pause",
        "parameters" : [ {
          "description" : "The id of the node where processing will be paused.",
          "in" : "path",
          "name" : "nodeId",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "default" : {
            "content" : {
              "application/json" : { }
            },
            "description" : "default response"
          }
        },
        "summary" : "Pause message processing on node",
        "tags" : [ "Cluster/Processing" ]
      }
    },
    "/cluster/{nodeId}/processing/resume" : {
      "post" : {
        "operationId" : "resume",
        "parameters" : [ {
          "description" : "The id of the node where processing will be resumed.",
          "in" : "path",
          "name" : "nodeId",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "default" : {
            "content" : {
              "application/json" : { }
            },
            "description" : "default response"
          }
        },
        "summary" : "Resume message processing on node",
        "tags" : [ "Cluster/Processing" ]
      }
    },
    "/cluster/{nodeId}/shutdown" : {
      "post" : {
        "deprecated" : true,
        "operationId" : "shutdown",
        "parameters" : [ {
          "in" : "path",
          "name" : "nodeId",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "default" : {
            "content" : {
              "application/json" : { }
            },
            "description" : "default response"
          }
        }
      }
    },
    "/cluster/{nodeId}/threaddump" : {
      "get" : {
        "operationId" : "threadDump",
        "parameters" : [ {
          "description" : "The id of the node to get a thread dump.",
          "in" : "path",
          "name" : "nodeId",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "default" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/org.graylog2.rest.models.system.responses.SystemThreadDumpResponse"
                }
              }
            },
            "description" : "default response"
          }
        },
        "summary" : "Get a thread dump of the given node",
        "tags" : [ "Cluster" ]
      }
    },
    "/collectors" : {
      "get" : {
        "operationId" : "findInstances",
        "parameters" : [ {
          "in" : "query",
          "name" : "page",
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "default" : 1
          }
        }, {
          "in" : "query",
          "name" : "per_page",
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "default" : 50
          }
        }, {
          "in" : "query",
          "name" : "query",
          "schema" : {
            "type" : "string",
            "default" : ""
          }
        }, {
          "in" : "query",
          "name" : "filters",
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          }
        }, {
          "description" : "The field to sort the result on",
          "in" : "query",
          "name" : "sort",
          "schema" : {
            "type" : "string",
            "default" : "last_seen",
            "enum" : [ "instance_uid", "last_seen", "status", "hostname", "os", "version" ]
          }
        }, {
          "description" : "The sort direction",
          "in" : "query",
          "name" : "order",
          "schema" : {
            "type" : "string",
            "default" : "desc",
            "enum" : [ "asc", "desc", "asc", "desc" ]
          }
        } ],
        "responses" : {
          "default" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/org.graylog2.rest.models.tools.responses.PageListResponseOrg.graylog.collectors.rest.CollectorInstanceResponse"
                }
              }
            },
            "description" : "default response"
          }
        },
        "summary" : "Get a paginated list of collector instances",
        "tags" : [ "Collectors" ]
      }
    },
    "/collectors/activity/recent" : {
      "get" : {
        "operationId" : "recent",
        "responses" : {
          "default" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/org.graylog.collectors.rest.RecentActivityResponse"
                }
              }
            },
            "description" : "default response"
          }
        },
        "summary" : "Get recent activity across all fleets and collectors",
        "tags" : [ "Collectors/Activity" ]
      }
    },
    "/collectors/config" : {
      "get" : {
        "operationId" : "get",
        "responses" : {
          "default" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/org.graylog.collectors.CollectorsConfig"
                }
              }
            },
            "description" : "default response"
          }
        },
        "summary" : "Get collectors configuration",
        "tags" : [ "Collectors/Config" ]
      },
      "put" : {
        "operationId" : "put",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/org.graylog.collectors.rest.CollectorsConfigRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "default" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/org.graylog.collectors.CollectorsConfig"
                }
              }
            },
            "description" : "default response"
          }
        },
        "summary" : "Update collectors configuration",
        "tags" : [ "Collectors/Config" ]
      }
    },
    "/collectors/config/inputs" : {
      "get" : {
        "operationId" : "getInputIds",
        "responses" : {
          "default" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/org.graylog.collectors.rest.CollectorInputIdsResponse"
                }
              }
            },
            "description" : "default response"
          }
        },
        "summary" : "Get collector ingest input IDs",
        "tags" : [ "Collectors/Config" ]
      },
      "post" : {
        "operationId" : "createInput",
        "responses" : {
          "default" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/org.graylog.collectors.rest.CollectorInputIdsResponse"
                }
              }
            },
            "description" : "default response"
          }
        },
        "summary" : "Create the default collector ingest input",
        "tags" : [ "Collectors/Config" ]
      }
    },
    "/collectors/fleets" : {
      "get" : {
        "operationId" : "list_1",
        "parameters" : [ {
          "in" : "query",
          "name" : "page",
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "default" : 1
          }
        }, {
          "in" : "query",
          "name" : "per_page",
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "default" : 50
          }
        }, {
          "in" : "query",
          "name" : "query",
          "schema" : {
            "type" : "string",
            "default" : ""
          }
        }, {
          "in" : "query",
          "name" : "sort",
          "schema" : {
            "type" : "string",
            "default" : "name"
          }
        }, {
          "in" : "query",
          "name" : "order",
          "schema" : {
            "type" : "string",
            "default" : "asc",
            "enum" : [ "asc", "desc" ]
          }
        } ],
        "responses" : {
          "default" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/org.graylog2.rest.models.tools.responses.PageListResponseOrg.graylog.collectors.rest.FleetResponse"
                }
              }
            },
            "description" : "default response"
          }
        },
        "summary" : "Get a paginated list of fleets",
        "tags" : [ "Collectors/Fleets" ]
      },
      "post" : {
        "operationId" : "create_1",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/org.graylog.collectors.rest.CreateFleetRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/org.graylog.collectors.rest.FleetResponse"
                }
              }
            },
            "description" : "The newly created fleet"
          }
        },
        "summary" : "Create a new fleet",
        "tags" : [ "Collectors/Fleets" ]
      }
    },
    "/collectors/fleets/stats" : {
      "get" : {
        "operationId" : "bulkStats",
        "responses" : {
          "default" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/org.graylog.collectors.rest.BulkFleetStatsResponse"
                }
              }
            },
            "description" : "default response"
          }
        },
        "summary" : "Get statistics for all fleets",
        "tags" : [ "Collectors/Fleets" ]
      }
    },
    "/collectors/fleets/{fleetId}" : {
      "delete" : {
        "operationId" : "delete_1",
        "parameters" : [ {
          "in" : "path",
          "name" : "fleetId",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "default" : {
            "content" : {
              "application/json" : { }
            },
            "description" : "default response"
          }
        },
        "summary" : "Delete a fleet",
        "tags" : [ "Collectors/Fleets" ]
      },
      "get" : {
        "operationId" : "get_1",
        "parameters" : [ {
          "in" : "path",
          "name" : "fleetId",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "default" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/org.graylog.collectors.rest.FleetResponse"
                }
              }
            },
            "description" : "default response"
          }
        },
        "summary" : "Get a single fleet",
        "tags" : [ "Collectors/Fleets" ]
      },
      "put" : {
        "operationId" : "update",
        "parameters" : [ {
          "in" : "path",
          "name" : "fleetId",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/org.graylog.collectors.rest.UpdateFleetRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "default" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/org.graylog.collectors.rest.FleetResponse"
                }
              }
            },
            "description" : "default response"
          }
        },
        "summary" : "Update a fleet",
        "tags" : [ "Collectors/Fleets" ]
      }
    },
    "/collectors/fleets/{fleetId}/sources" : {
      "get" : {
        "operationId" : "list_2",
        "parameters" : [ {
          "in" : "path",
          "name" : "fleetId",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "in" : "query",
          "name" : "page",
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "default" : 1
          }
        }, {
          "in" : "query",
          "name" : "per_page",
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "default" : 50
          }
        }, {
          "in" : "query",
          "name" : "query",
          "schema" : {
            "type" : "string",
            "default" : ""
          }
        }, {
          "in" : "query",
          "name" : "sort",
          "schema" : {
            "type" : "string",
            "default" : "name"
          }
        }, {
          "in" : "query",
          "name" : "order",
          "schema" : {
            "type" : "string",
            "default" : "asc",
            "enum" : [ "asc", "desc" ]
          }
        } ],
        "responses" : {
          "default" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/org.graylog2.rest.models.tools.responses.PageListResponseOrg.graylog.collectors.rest.SourceResponse"
                }
              }
            },
            "description" : "default response"
          }
        },
        "summary" : "Get a paginated list of sources for a fleet",
        "tags" : [ "Collectors/Sources" ]
      },
      "post" : {
        "operationId" : "create_2",
        "parameters" : [ {
          "in" : "path",
          "name" : "fleetId",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/org.graylog.collectors.rest.CreateSourceRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "default" : {
            "content" : {
              "application/json" : { }
            },
            "description" : "default response"
          }
        },
        "summary" : "Create a new source in a fleet",
        "tags" : [ "Collectors/Sources" ]
      }
    },
    "/collectors/fleets/{fleetId}/sources/{sourceId}" : {
      "delete" : {
        "operationId" : "delete_2",
        "parameters" : [ {
          "in" : "path",
          "name" : "fleetId",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "in" : "path",
          "name" : "sourceId",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "default" : {
            "content" : {
              "application/json" : { }
            },
            "description" : "default response"
          }
        },
        "summary" : "Delete a source",
        "tags" : [ "Collectors/Sources" ]
      },
      "get" : {
        "operationId" : "get_2",
        "parameters" : [ {
          "in" : "path",
          "name" : "fleetId",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "in" : "path",
          "name" : "sourceId",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "default" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/org.graylog.collectors.rest.SourceResponse"
                }
              }
            },
            "description" : "default response"
          }
        },
        "summary" : "Get a single source",
        "tags" : [ "Collectors/Sources" ]
      },
      "put" : {
        "operationId" : "update_1",
        "parameters" : [ {
          "in" : "path",
          "name" : "fleetId",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "in" : "path",
          "name" : "sourceId",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/org.graylog.collectors.rest.UpdateSourceRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "default" : {
            "content" : {
              "application/json" : { }
            },
            "description" : "default response"
          }
        },
        "summary" : "Update a source",
        "tags" : [ "Collectors/Sources" ]
      }
    },
    "/collectors/fleets/{fleetId}/stats" : {
      "get" : {
        "operationId" : "stats_1",
        "parameters" : [ {
          "in" : "path",
          "name" : "fleetId",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "default" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/org.graylog.collectors.rest.FleetStatsResponse"
                }
              }
            },
            "description" : "default response"
          }
        },
        "summary" : "Get statistics for a fleet",
        "tags" : [ "Collectors/Fleets" ]
      }
    },
    "/collectors/instances/reassign" : {
      "post" : {
        "operationId" : "reassignInstances",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/org.graylog.collectors.rest.ReassignCollectorsRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "default" : {
            "content" : {
              "application/json" : { }
            },
            "description" : "default response"
          }
        },
        "summary" : "Reassign collector instances to a different fleet",
        "tags" : [ "Collectors" ]
      }
    },
    "/collectors/instances/{instanceUid}" : {
      "delete" : {
        "operationId" : "deleteInstance",
        "parameters" : [ {
          "in" : "path",
          "name" : "instanceUid",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "default" : {
            "content" : {
              "application/json" : { }
            },
            "description" : "default response"
          }
        },
        "summary" : "Delete a collector instance",
        "tags" : [ "Collectors" ]
      }
    },
    "/collectors/stats" : {
      "get" : {
        "operationId" : "stats",
        "responses" : {
          "default" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/org.graylog.collectors.rest.CollectorStatsResponse"
                }
              }
            },
            "description" : "default response"
          }
        },
        "summary" : "Get global collector statistics",
        "tags" : [ "Collectors" ]
      }
    },
    "/contentstream/settings/{username}" : {
      "get" : {
        "operationId" : "getContentStreamUserSettings",
        "parameters" : [ {
          "in" : "path",
          "name" : "username",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "default" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/org.graylog2.contentstream.rest.ContentStreamSettings"
                }
              }
            },
            "description" : "default response"
          }
        },
        "summary" : "Retrieve Content Stream settings for specified user",
        "tags" : [ "ContentStream" ]
      },
      "put" : {
        "operationId" : "setContentStreamUserSettings",
        "parameters" : [ {
          "in" : "path",
          "name" : "username",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "*/*" : {
              "schema" : {
                "$ref" : "#/components/schemas/org.graylog2.contentstream.rest.ContentStreamSettings"
              }
            }
          },
          "description" : "Content Stream settings for the specified user.",
          "required" : true
        },
        "responses" : {
          "default" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/org.graylog2.contentstream.rest.ContentStreamSettings"
                }
              }
            },
            "description" : "default response"
          }
        },
        "summary" : "Update Content Stream settings for specified user",
        "tags" : [ "ContentStream" ]
      }
    },
    "/contentstream/tags" : {
      "get" : {
        "operationId" : "getContentStreamTags",
        "responses" : {
          "default" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "type" : "string"
                  }
                }
              }
            },
            "description" : "default response"
          }
        },
        "summary" : "Retrieve valid feed tags based on license",
        "tags" : [ "ContentStream" ]
      }
    },
    "/dashboards" : {
      "get" : {
        "operationId" : "views",
        "parameters" : [ {
          "in" : "query",
          "name" : "page",
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "default" : 1
          }
        }, {
          "in" : "query",
          "name" : "per_page",
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "default" : 50
          }
        }, {
          "description" : "The field to sort the result on",
          "in" : "query",
          "name" : "sort",
          "required" : true,
          "schema" : {
            "type" : "string",
            "default" : "title",
            "enum" : [ "id", "title", "created_at", "last_updated_at", "owner", "description", "summary", "favorite" ]
          }
        }, {
          "description" : "The sort direction",
          "in" : "query",
          "name" : "order",
          "schema" : {
            "type" : "string",
            "default" : "asc",
            "enum" : [ "asc", "desc", "asc", "desc" ]
          }
        }, {
          "in" : "query",
          "name" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "in" : "query",
          "name" : "filters",
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          }
        }, {
          "description" : "The scope of the permissions",
          "in" : "query",
          "name" : "scope",
          "required" : true,
          "schema" : {
            "type" : "string",
            "default" : "read",
            "enum" : [ "read", "update", "read", "update" ]
          }
        } ],
        "responses" : {
          "default" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/org.graylog2.rest.models.tools.responses.PageListResponseOrg.graylog.plugins.views.search.views.ViewSummaryDTO"
                }
              }
            },
            "description" : "default response"
          }
        },
        "summary" : "Get a list of all dashboards",
        "tags" : [ "Dashboards" ]
      }
    },
    "/datanode/bulk_remove" : {
      "post" : {
        "operationId" : "bulkRemove",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/org.graylog2.rest.bulk.model.BulkOperationRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/org.graylog2.rest.bulk.model.BulkOperationResponse"
                }
              }
            },
            "description" : "Remove multiple nodes from the cluster retrieved successfully"
          }
        },
        "summary" : "Remove multiple nodes from the cluster",
        "tags" : [ "Datanode" ]
      }
    },
    "/datanode/bulk_start" : {
      "post" : {
        "operationId" : "bulkStart",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/org.graylog2.rest.bulk.model.BulkOperationRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/org.graylog2.rest.bulk.model.BulkOperationResponse"
                }
              }
            },
            "description" : "Start multiple nodes in the cluster retrieved successfully"
          }
        },
        "summary" : "Start multiple nodes in the cluster",
        "tags" : [ "Datanode" ]
      }
    },
    "/datanode/bulk_stop" : {
      "post" : {
        "operationId" : "bulkStop",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/org.graylog2.rest.bulk.model.BulkOperationRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/org.graylog2.rest.bulk.model.BulkOperationResponse"
                }
              }
            },
            "description" : "Stop multiple nodes in the cluster retrieved successfully"
          }
        },
        "summary" : "Stop multiple nodes in the cluster",
        "tags" : [ "Datanode" ]
      }
    },
    "/datanode/configured" : {
      "get" : {
        "operationId" : "runsWithDataNode",
        "responses" : {
          "default" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "boolean"
                }
              }
            },
            "description" : "default response"
          }
        },
        "summary" : "Returns whether this Graylog is running against a data node search backend",
        "tags" : [ "Datanode" ]
      }
    },
    "/datanode/{nodeId}" : {
      "delete" : {
        "operationId" : "removeNode",
        "parameters" : [ {
          "in" : "path",
          "name" : "nodeId",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "default" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/org.graylog2.cluster.nodes.DataNodeDto"
                }
              }
            },
            "description" : "default response"
          }
        },
        "summary" : "Remove node from cluster",
        "tags" : [ "Datanode" ]
      },
      "get" : {
        "operationId" : "getDataNode",
        "parameters" : [ {
          "in" : "path",
          "name" : "nodeId",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "default" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/org.graylog2.cluster.nodes.DataNodeDto"
                }
              }
            },
            "description" : "default response"
          }
        },
        "summary" : "Get data node information",
        "tags" : [ "Datanode" ]
      }
    },
    "/datanode/{nodeId}/reset" : {
      "post" : {
        "operationId" : "resetNode",
        "parameters" : [ {
          "in" : "path",
          "name" : "nodeId",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "default" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/org.graylog2.cluster.nodes.DataNodeDto"
                }
              }
            },
            "description" : "default response"
          }
        },
        "summary" : "Reset a removed node to rejoin the cluster",
        "tags" : [ "Datanode" ]
      }
    },
    "/datanode/{nodeId}/start" : {
      "post" : {
        "operationId" : "startNode",
        "parameters" : [ {
          "in" : "path",
          "name" : "nodeId",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "default" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/org.graylog2.cluster.nodes.DataNodeDto"
                }
              }
            },
            "description" : "default response"
          }
        },
        "summary" : "Start the OpenSearch process of a data node",
        "tags" : [ "Datanode" ]
      }
    },
    "/datanode/{nodeId}/stop" : {
      "post" : {
        "operationId" : "stopNode",
        "parameters" : [ {
          "in" : "path",
          "name" : "nodeId",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "default" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/org.graylog2.cluster.nodes.DataNodeDto"
                }
              }
            },
            "description" : "default response"
          }
        },
        "summary" : "Stop the OpenSearch process of a data node",
        "tags" : [ "Datanode" ]
      }
    },
    "/datanodes/upgrade/replication/start" : {
      "post" : {
        "operationId" : "startReplication",
        "responses" : {
          "default" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/org.graylog.plugins.datanode.dto.FlushResponse"
                }
              }
            },
            "description" : "default response"
          }
        },
        "summary" : "Start shard replication for opensearch cluster managed by the data node",
        "tags" : [ "DatanodeUpgrade" ]
      }
    },
    "/datanodes/upgrade/replication/stop" : {
      "post" : {
        "operationId" : "stopReplication",
        "responses" : {
          "default" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/org.graylog.plugins.datanode.dto.FlushResponse"
                }
              }
            },
            "description" : "default response"
          }
        },
        "summary" : "Stop shard replication for opensearch cluster managed by the data node",
        "tags" : [ "DatanodeUpgrade" ]
      }
    },
    "/datanodes/upgrade/status" : {
      "get" : {
        "operationId" : "status_1",
        "responses" : {
          "default" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/org.graylog2.datanode.DatanodeUpgradeStatus"
                }
              }
            },
            "description" : "default response"
          }
        },
        "summary" : "Display existing cluster configuration",
        "tags" : [ "DatanodeUpgrade" ]
      }
    },
    "/datanodes/{hostname}/opensearch/{path}" : {
      "delete" : {
        "operationId" : "requestDelete",
        "parameters" : [ {
          "in" : "path",
          "name" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "pattern" : ".*"
          }
        }, {
          "in" : "path",
          "name" : "hostname",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "default" : {
            "content" : {
              "application/json" : { }
            },
            "description" : "default response"
          }
        },
        "summary" : "DELETE request to Data Node's API",
        "tags" : [ "DataNodes/API" ]
      },
      "get" : {
        "operationId" : "requestGet",
        "parameters" : [ {
          "in" : "path",
          "name" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "pattern" : ".*"
          }
        }, {
          "in" : "path",
          "name" : "hostname",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "default" : {
            "content" : {
              "application/json" : { }
            },
            "description" : "default response"
          }
        },
        "summary" : "GET request to Data Node's API",
        "tags" : [ "DataNodes/API" ]
      },
      "post" : {
        "operationId" : "requestPost",
        "parameters" : [ {
          "in" : "path",
          "name" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "pattern" : ".*"
          }
        }, {
          "in" : "path",
          "name" : "hostname",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "default" : {
            "content" : {
              "application/json" : { }
            },
            "description" : "default response"
          }
        },
        "summary" : "POST request to Data Node's API",
        "tags" : [ "DataNodes/API" ]
      },
      "put" : {
        "operationId" : "requestPut",
        "parameters" : [ {
          "in" : "path",
          "name" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "pattern" : ".*"
          }
        }, {
          "in" : "path",
          "name" : "hostname",
[...]
